.topnav {
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.topnav a {
    display: block;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 8px 20px;
    text-decoration: none;
    font-size: 17px;
    border-bottom: 3px solid transparent;
}

.topnav a:hover {
    border-bottom: 3px solid $clr1;
}

.topnav .active {
    border-bottom: 3px solid $clr1;
}

@media (max-width: 490px) {
    .topnav a {
        font-size: 14px;
    }
}
